<div class="main-board">
        <h1 class="topic-text">Main Topics</h1>
        <div class="topics">
            
          <a class="topic" href="/api/forumpost/topic/Frontend">Frontend</a>
          <a class="topic" href="/api/forumpost/topic/Backend">Backend</a>
          <a class="topic" href="/api/forumpost/topic/General">General</a>
          <a class="topic" href="/api/forumpost/topic/CreativeCenter">Creative Center</a>
          <a class="topic" href="/api/forumpost/topic/Python">Python</a>
          <a class="topic" href="/api/forumpost/topic/Javascript">Javascript</a>
          <a class="topic" href="/api/forumpost/topic/Rust">Rust</a>
          <a class="topic" href="/api/forumpost/topic/IDEs">IDE's</a>
        </div>
        <h1 class="topic-text">Languages</h1>
        <div class="languages">
           
          <a class="topic" href="/api/forumpost/topic/French">French</a>
          <a class="topic" href="/api/forumpost/topic/Spanish">Spanish</a>
          <a class="topic" href="/api/forumpost/topic/German">German</a>
          <a class="topic" href="/api/forumpost/topic/Japanese">Japanese</a>
          <a class="topic" href="/api/forumpost/topic/Polish">polish</a>
          <a class="topic" href="/api/forumpost/topic/Turkish">turkish</a>
        </div>
      </div>

<script src="../public/js/topics.js"></script>