<div class="main-board">
        <h1 class="topic-text">Main Topics</h1>
        <div class="topics">
            
          <a class="topic" href="/Frontend">Frontend</a>
          <a class="topic" href="/Backend">Backend</a>
          <a class="topic" href="/General">General</a>
          <a class="topic" href="/CreativeCenter">Creative Center</a>
          <a class="topic" href="/Python">Python</a>
          <a class="topic" href="/Javascript">Javascript</a>
          <a class="topic" href="/Rust">Rust</a>
          <a class="topic" href="/IDEs">IDE's</a>
        </div>
        <h1 class="topic-text">Languages</h1>
        <div class="languages">
           
          <a class="topic" href="/French">French</a>
          <a class="topic" href="/Spanish">Spanish</a>
          <a class="topic" href="/German">German</a>
          <a class="topic" href="/Japanese">Japanese</a>
          <a class="topic" href="/Polish">polish</a>
          <a class="topic" href="/Turkish">turkish</a>
        </div>
      </div>

<script src="../public/js/topics.js"></script>