 <form id="form-login">
    
            <div class="login-form">
                <h4 class="text-center">Login</h4>
                <label for="login-form-username">Username</label>
                <input type="text" class="login-form-username" id="login-form-username">
                <label for="login-form-password">Password</label>
                <input type="text" class="login-form-password" id="login-form-password">
                <button type="submit" class="login-form-button">Sign In</button>
            </div>
</form>

<script src="public/js/login.js"></script>