<form id="form-signup">
    <div class="register-form">
        <h4 class="text-center">Register New User</h4>
        <label for="register-form-username">Username</label>
        <input type="text" class="register-form-username" id="register-form-username">
        <label for="register-form-password">Password</label>
        <input type="text" class="register-form-password" id="register-form-password">
        <button type="submit" class="register-form-button">Create Account</button>
    </div>
</form>

<script src="public/js/signup.js"></script>