:root {
    --grey: #C2CCCD;
    --white: #F7F7F7;
    --blue: #5E7B83;
    --gold: #D2AF6F;
    --copper: #9D7B56;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif; */

.navbar {
    background-color: var(--blue);
}

.navbar h1 {

}
.nav-logo{
    font-family: 'Playfair Display', serif; 
    color: var(--white); 
    font-size: 2vw;
}
.navbar li {
    font-family: 'Montserrat', sans-serif;
    display: block;
    float: left;
	width: 6vw;
    padding-left: 2vw;
    text-transform: uppercase;
}

.navbar a {
    color: var(--white);
    font-size: larger;
}
.main-board{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.topics{
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    width: 60vw;
    margin-top: 20px;
}
.languages{
    display: flex;
    flex-wrap: wrap;
    background-color:bisque;
    width: 60vw;
    margin-top: 20px;
}
.topic{
    width:30%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.293);
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    color:var(--blue);
    font-size: larger;
    background-color: #5e7b8338;

}
.topic:hover{
    box-shadow: 0px 0px 5px;
}
.topic-text{
    color: var(--blue);
}
.post-card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.title-card{
    display: flex;
    justify-content: space-between;
    background-color:bisque;
    width: 60vw;
    margin-top: 20px;
}
.description-card{
    display: flex;
    flex-wrap: wrap;
    background-color:bisque;
    width: 60vw;
    margin-top: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.293);
}
.login-tags{
    margin-inline: 10px;
}
.title-card > * {
    margin: 10px;
  }
.description-card > * {
    margin: 10px;
}
.profile-img-container{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 40px;
}
.profile-img{
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}
.welcome-tag{
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.welcome-text{
    font-size: larger;
}
.reply-img{
   position: relative;
   left: -90px;
   bottom: 0px;
    width: 70px; 
    height: 70px; 
    border-radius: 50%;
    
}
.create-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: inset;
    border-color: rgba(0, 0, 0, 0.293);
    background-color: bisque;
    

}
.form-group{
    margin-inline: 10px;
    margin-top: 10px;

}
.create-post{
    display: flex;
    justify-content: center;
    background-color: bisque;
    color: var(--blue);
}